*{
		margin: 0;
		padding: 0;
}
.box1{
		width: 600px;
		height: 400px;
		background-image: url(../img/8.jpg);
		margin:50px 88px;
		position: relative;
		float: left;
}
.maskbo{
		float: left;
		background-color: black;
		opacity: 0.5;
		width: 600px;
		height: 400px;
}
.mask{
		width: 600px;
		height: 400px;
		background: linear-gradient(to right top, green, red, white);
		opacity: 0;
		transition: 1s;
}
.box1:hover .mask{
		background: linear-gradient(to right top, green, red, white);
		opacity: .2;
}		
.title{
		position: absolute;
		color: white;
		font-size: 29px;
		left: 205px;
		top: 175px;
		transition: .5s;
}
.box1:hover .title{
		top: 135px;
}
.in-box{
		width: 400px;
		height: 280px;
		border: 0.5px solid white;
		position: absolute;
		top: 58px;
		left: 100px;
		opacity: 0;
		transition: .5s;
}
.box1:hover .in-box{
		transform: scale(1.3);
		opacity: 1;
}
.jieshao1{
	width: 280px;
	text-align: center;
	position: absolute;
	color: white;
	left: 60px;
	top: 120px;
}
.intro{
	font-size: 2px;
}

.box2{
	float: left;
		width: 600px;
		height: 400px;
		background-image: url(../img/9.jpg);
		margin:50px 30px;
		position: relative;
}
.mask2{
	background-color: steelblue;
	opacity: 0.3;
	width: 600px;
	height: 400px;
}
.title2{
	position: absolute;
	right: 30px;
	top: 50px;
	color: white;
	font-size: 33px;
	font-family: inherit;
	transition: 0.5s;
}
.box2:hover .title2{
	top: 30px;
}
.content{
	width: 550px;
	border-top: 4px solid white;
	position: absolute;
	top: 155px;
	left: 25px;
	opacity: 0;
	transition: 0.5s;
}
.jieshao{
	color: white;
	position: absolute;
	text-align: right;
	font-weight: 100;
	right: 0;
	top: 220px;
	font-family: emoji;	
}
.box2:hover .content{
	top: 80px;
	opacity: 1;
}
